input{
  text-align: center;
  color: red;
}
h1{
  color: brown;
  font-size: 60px;
}
body{
  background-image: url("http://files.all-free-download.com//downloadfiles/wallpapers/1600_1200/the_great_pyramid_wallpaper_egypt_world_2051.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /* font-size:1400px; */
}
p{
  font-size: 30px;
  }
  p{
    margin-top: 10px;
    color: pink;
  }
    h1{
      text-align: center;
    }
