input{
  text-align: center;
  color: red;
}
h1{
  color: brown;
  font-size: 60px;
}
body{
  background-color:green;
}
p{
  font-size: 30px;
  }
  p{
    margin-top: 10px;
    color: pink;
  }
    h1{
      text-align: center;
    }
