input{
  text-align: center;
}
h1{
  color: brown;
  font-size: 60px;
}
body{
  background-color:orange;
}
p{
  font-size: 40px;
  color: blue;
  }
  p{
    margin-top: 10px;
    color: pink;
  }
    h1{
      text-align: center;
    }
    P{
      c
    }
